{% extends "./base.html" %}

{% block title%} Docencia {%endblock%}

{% block body%}


<h1>Objetos de aprendizajes creados</h1>
<p>
    <strong>Interpretación de la derivada - Razón de Cambio</strong> 
</p>

<p>
    Acceso: <a href="https://www.geogebra.org/m/vhamyav9">https://www.geogebra.org/m/vhamyav9</a>
  
</p>

<p>
    <strong>Interpretación de la derivada - Aplicación: cinética química</strong> 
</p>

<p>
    Acceso: <a href="https://www.geogebra.org/m/kepjvput">https://www.geogebra.org/m/kepjvput</a>
  
</p>


<p>
    <strong>Recta Tangente</strong> 
</p>

<p>
    Acceso: <a href="https://www.geogebra.org/m/zrsfpdac">https://www.geogebra.org/m/zrsfpdac</a>
  
</p>

<p>
    <strong>Integral definida</strong> 
</p>

<p>
    Acceso: <a href="https://www.geogebra.org/m/e2qme65f">https://www.geogebra.org/m/e2qme65f</a>
  
</p>


<h1>Trabajos de investigación en Docencia Universitaria</h1>


<p>
TIBALDO, A.; ALURRALDE, I.; ALCONCHEL, L.; LOPEZ DELSAR, S. “Creación de una mini unidad de aprendizaje que integra contenidos de Química General y Análisis Matemático I”. II Jornada de Enseñanza de Materias Básicas (JEMB II). Santa Fe. 24 y 25/11/2022. <a href="https://doi.org/10.33414/ajea.1157.2023">https://doi.org/10.33414/ajea.1157.2023</a>    
</p>

<p>
    RODRÍGUEZ, E.; CASCO, E.; TIBALDO, A.; DURUNDA, R. “Tecnologías en trabajos de laboratorio de Análisis Matemático II como mediadoras en el desarrollo de competencias en la formación de ingenieros”. II Jornada de Enseñanza de Materias Básicas (JEMB II). Santa Fe. 24 y 25/11/2022. <a href="https://doi.org/10.33414/ajea.1157.2023">https://doi.org/10.33414/ajea.1157.2023</a>    
</p>

<p>
    RODRIGUEZ, M. E.; CASCO, E.; TIBALDO, A.; DURUNDA, R. “La Evaluación de Competencias y el Uso de Tecnologías”. XXII Encuentro Nacional y XV Encuentro Internacional de Educación Matemática en Carreras de Ingeniería (EMCI). Plataforma virtual. 4 al 6/10/2022. 
</p>

<p>
    TIBALDO, A.; DURUNDA, R.; ALURRALDE, I. “Creación de una Mini Unidad de Aprendizaje denominada “Integral Definida””. Jornada de Jóvenes Investigadores (JIT). 6 al 7/10/2021.
</p>

<p>
    TIBALDO, A.; CASCO, E.; DURUNDA, R.; ALURRALDE, I. “Competencias, aprendizaje y uso de tecnologías”. Encuentro Argentino y Latinoamericano de Ingeniería (CADI/CLADI). Plataforma virtual. 5 al 6/10/2021. 
</p>

<p>
    CASCO, E.; TIBALDO, A.; MASSARA, D.; DURUNDA, R. “Las competencias, la evaluación y el uso de tecnologías”. 50° Jornada de Ciencia y Tecnología. San Francisco, Santa Fe. 23 y 24/09/2020. ISBN 978-950-42-0201-1.
</p>

<p>
    BANGERT, V.; ÁLVAREZ, G.; TIBALDO, A. “Desarrollo de fórmulas para la medición de operaciones. Caso de aplicación en una Industria de muebles y accesorios de la Región Centro”. XII Congreso Argentino de Ingeniería Industrial (COINI). Río Gallegos, Santa Cruz. 31/10/2019 y 01/11/2019. ISBN 978-987-4998-43-9.
</p>

<p>
    CASCO, E.; TIBALDO, A.; RODRÍGUEZ, M.; CANAL, M. “Evaluación de trabajos de laboratorio y su relación con objetos de aprendizajes de calidad”. VII Jornada de Enseñanza en Ingeniería (JEIN). La Plata. 24 y 24/10/2019.
</p>

<p>
    FEMIA, E.; TIBALDO, A. “Tutorías de matemática en las escuelas secundarias. Actividad realizada en el marco del Programa Nexos”. I Jornada de Ciencias Básicas: “Articulación de las ciencias básicas, el nexo entre la escuela secundaria y la universidad”. Santa Fe, 08/10/2019. ISBN: 978-987-4998-31-6.
</p>

<p>
    RUDI, N.; TIBALDO, A.; SLABOCH, F.; BERTOSSI, V. “Libro digital de fisicomatemática preuniversitaria”. I Jornada de Ciencias Básicas: “Articulación de las ciencias básicas, el nexo entre la escuela secundaria y la universidad”. Santa Fe, 08/10/2019. ISBN: 978-987-4998-31-6.
</p>

<p>
    CASCO, E.; TIBALDO, A.; CANAL, M.; RODRÍGUEZ, M. “El análisis y la evaluación de la utilización de recursos educativos en Análisis Matemático I UTN FRSF”. I Jornada de Ciencias Básicas: “Articulación de las ciencias básicas, el nexo entre la escuela secundaria y la universidad”. Santa Fe, 08/10/2019. ISBN: 978-987-4998-31-6.
</p>

<p>
    CASCO, E. GAMARCI, M.; TIBALDO, A.; RODRÍGUEZ, M.  “Creación de un objeto a partir de una mini unidad de aprendizaje para integrar competencias de AMI e inglés”.  I Jornada de Ciencias Básicas: “Articulación de las ciencias básicas, el nexo entre la escuela secundaria y la universidad”. Santa Fe, 08/10/2019. ISBN: 978-987-4998-31-6.
</p>

<p>
    CASCO, E.; RODRIGUEZ, M. E.; TIBALDO, A.; CANAL, M. “Creación de un objeto a partir de una Mini Unidad de Aprendizaje para mejorar la comprensión en estudiantes universitarios”. 49° Jornada de Ciencia y Tecnología. San Francisco, Santa Fe. 9 y 10/10/2019. ISBN: 978-950-42-0193-9.
</p>

<p>
    BANGERT, V.; CROCE, C.; ÁLVAREZ, G.; TIBALDO, A.; MONTI, H. “Estudio de la red de valor en industrias madereras, caracterización de los dos primeros eslabones: Producción Forestal e Industrialización”. XI Congreso Argentino de Ingeniería Industrial (COINI). San Rafael, Mendoza del 1 al 2/11/2018. ISBN: 978-987-4998-05-7.
</p>

<p>
    CASCO, E.; DE SANTIS, E.; TIBALDO, A.; RODRÍGUEZ, M. “Experiencias áulicas basadas en didácticas tradicionales y activas, y su evaluación”. XI Congreso Argentino de Ingeniería Industrial (COINI). San Rafael, Mendoza del 1 al 2/11/2018. ISBN: 978-987-4998-05-7.
</p>

<p>
    CASCO, E.; DE SANTIS, E.; TIBALDO, A. “Estrategias de mejoras en la comprensión a través de la interacción con las TICs”. VI Congreso Argentino de Ingeniería Mecánica (CAIM) y I Congreso Argentino de Ingeniería Ferroviaria (CAIFE). Tucumán, 10 al 12/10/2018. ISBN: 978-987-46987-0-4
</p>

<p>
    FEMIA, E.; HERITIER, V.; LLORENS, R.; TIBALDO, A. “Funcionamiento del Sistema de Tutorías de Pares en la Facultad Regional Santa Fe de la Universidad Tecnológica Nacional: principales beneficios y resultados”. I Seminario Latinoamericano de Políticas de Inclusión y Tutorías: Una mirada regional sobre las políticas de inclusión en la Educación Superior (SELPIT 2018).  UTN Buenos Aires, 23 al 24/08/2018. ISBN: 978-987-429-325-1.
</p>

<p>
    DE SANTIS, E.; RODRÍGUEZ, E.; TIBALDO, A. “Uso de la tecnología en el tópico “transformaciones de funciones elementales” y su evaluación”. WIDIC: II Workshop de Investigación en Didáctica de las Ciencias Naturales y Experimentales. Santa Fe, 04 al 06/07/2018. ISBN: 978-987-692-179-4.
</p>

<p>
    CASCO, E.; DE SANTIS, E.; TIBALDO, A.; VERRENGIA, M. “El uso de tecnologías, la comprensión y la evaluación”. VI Jornadas Nacionales y II Latinoamericanas de Ingreso y Permanencia en Carreras Científico Tecnológicas (IPECyT), Olavarría, Buenos Aires. 16 al 18/05/2018. ISBN: 978-950-658-471-9.
</p>

<p>
</p>

<p>
</p>


{% endblock %}